.header {
  background: $green;
  padding: 1rem 0;
  font-family: $font-roboto-bold;
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 16rem);
    margin: 0 auto;
  }
  &-title {
    font-size: 18px;
    line-height: 21px;
    margin-left: .5rem;
    text-transform: uppercase;
    color: $white;
  }
  &-icon {
    &_bar {
      width: 32px;
      height: 4px;
      background: $white;
      display: block;
      &:not(:last-child){
        margin-bottom: 4px;
      }
    }
  }
}